itsdangerous==2.2.0
lazy_loader==0.4
idna==3.7
jsonschema-specifications==2023.12.1
fvcore==0.1.5.post20221221
nest-asyncio==1.6.0
efficientnet_pytorch==0.7.0
termcolor==2.4.0
widgetsnbextension==4.0.13
safetensors==0.5.3
dash-core-components==2.0.0
exceptiongroup==1.2.2
pkgutil_resolve_name==1.3.10
Flask==3.0.3
tzdata==2025.1
tensorboardX==2.6.2.2
Pygments==2.19.1
dash-table==5.0.0
timm==1.0.15
llvmlite==0.41.1
protobuf==5.29.3
click==8.1.8
certifi==2024.8.30
docker-pycreds==0.4.0
lark==1.2.2
pip==24.2
packaging==24.2
platformdirs==4.3.6
traitlets==5.14.3
mkl-fft==1.3.8
requests==2.32.3
ccimport==0.4.4
scikit-image==0.21.0
scikit-learn==1.3.2
torchvision==0.13.1
fsspec==2025.2.0
six==1.17.0
jiter==0.9.0
PyYAML==6.0.2
numpy==1.24.3
matplotlib==3.7.5
ConfigArgParse==1.7
wcwidth==0.2.13
iopath==0.1.10
Jinja2==3.1.6
pytz==2025.1
matplotlib-inline==0.1.7
executing==2.2.0
mkl-random==1.2.4
contourpy==1.1.1
fire==0.7.0
tabulate==0.9.0
sniffio==1.3.1
GitPython==3.1.44
dash-html-components==2.0.0
fastjsonschema==2.21.1
httpcore==1.0.7
prompt_toolkit==3.0.50
charset-normalizer==3.3.2
attrs==25.1.0
Werkzeug==3.0.6
anyio==4.5.2
opencv-python-headless==4.5.1.48
eval_type_backport==0.2.2
pure_eval==0.2.3
urllib3==2.2.3
spconv-cu113==2.3.6
shapely==2.0.0
MarkupSafe==2.1.5
threadpoolctl==3.5.0
ipython==8.12.3
distro==1.9.0
torch==1.12.1
retrying==1.3.4
backcall==0.2.0
decorator==5.2.1
python-dateutil==2.9.0.post0
jupyterlab_widgets==3.0.13
easydict==1.13
ptyprocess==0.7.0
gitdb==4.0.12
typing_extensions==4.12.2
torchaudio==0.12.1
jupyter_core==5.7.2
pexpect==4.9.0
pandas==2.0.3
wandb==0.19.8
sentry-sdk==2.22.0
pyquaternion==0.9.9
setuptools==75.1.0
tqdm==4.67.1
comm==0.2.2
numba==0.58.1
stack-data==0.6.3
huggingface-hub==0.29.2
Cython==3.0.12
pickleshare==0.7.5
ninja==1.11.1.3
filelock==3.16.1
dash==2.18.2
pydantic_core==2.27.2
fonttools==4.56.0
imageio==2.35.1
psutil==7.0.0
nbformat==5.10.4
cmake==3.31.6
jedi==0.19.2
mkl-service==2.4.0
annotated-types==0.7.0
blinker==1.8.2
kiwisolver==1.4.7
cycler==0.12.1
python-lzf==0.2.6
parso==0.8.4
pypcd==0.1.1
importlib_resources==6.4.5
pccm==0.4.16
seaborn==0.13.2
jsonschema==4.23.0
PyWavelets==1.4.1
pillow==10.4.0
zipp==3.20.2
tifffile==2023.7.10
einops==0.8.1
setproctitle==1.3.5
yacs==0.1.8
asttokens==3.0.0
referencing==0.35.1
ipywidgets==8.1.5
cumm-cu113==0.4.11
rpds-py==0.20.1
h5py==3.11.0
h11==0.14.0
plotly==6.0.0
icecream==2.1.4
networkx==3.1
pybind11==2.13.6
wheel==0.44.0
Brotli==1.0.9
openai==1.66.3
portalocker==3.0.0
scipy==1.10.1
joblib==1.4.2
open3d==0.19.0
httpx==0.28.1
smmap==5.0.2
PySocks==1.7.1
colorama==0.4.6
pydantic==2.10.6
importlib_metadata==8.5.0
addict==2.4.0
narwhals==1.29.0
pyparsing==3.1.4
OpenCOOD==0.1.0
